/* 본문의 기본 스타일*/
.body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    transform: scale(0.7);
  }
    
  /* 컨테이너 스타일*/
  .container {
    width: 100%;  /* 부모 요소의 80%를 차지 */
    margin: 0 auto;  /* 가운데 정렬 */
    width: 400px;    /* 원하는 너비로 설정 */
    height: 600px;   /* 원하는 높이로 설정 */
    transform: scale(0.7); /* 크기 조절*/ 

} 


/* 배경 스타일 */
  .background {
    width: 1290px;
    height: 690px;
    background-color: #BCCAF8;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  

  /* 컨테이너 스타일 재정의*/
  .container {
    width: 1500px;
    height: 550px;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* 로고 스타일 */
  .logo {
    padding: 30px;
    margin-left: 90px;
  }
  /* 시작 버튼 스타일 */
  .start-button {
    background-color: #2859FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17.51px;
    cursor: pointer;
    margin-left: 815px;
  }
  

  /* 소제목 스타일 */
  .mintitle {
    font-size: 39px;
    font-weight: 800;
    color: #2859FF;
    margin-bottom: -20px;
    text-align: left;
    margin-top: 20px; 
    margin-left: 90px;
  }
  
  /* 부서 상자 스타일 */
  .department-box.blue-box {
    background-color: #2859FF;
    color: white;
    border-radius: 10px 0 0 10px;
    outline: none;
    padding: 10px;
    display: inline-block;
    width: 80px;
    height: 19px;
    text-align: left;
    margin-left: 90px; 
    margin-bottom: 0px;
    margin-top: 0px;
    pointer-events: none; /* 박스 클릭 불가능하게 설정 */
  }
  

/* 부서 상자 스타일 (민원 라벨용) */

  .department-box.blue-box#complaint-label {
    background-color: #2859FF;
    color: white;
    border-radius: 10px 0 0 10px;
    outline: none;
    padding: 10px;
    display: inline-block;
    width: 80px;
    height: 19px;
    text-align: left;
    margin-left: 90px; 
    margin-bottom: 155px;
    margin-top: 0px;
    pointer-events: none; /* 박스 클릭 불가능하게 설정 */
  }
  


  /*부서 상자 스타일 (결과  라벨용) */
  .department-box.blue-box#result-label {
    background-color: #2859FF;
    color: white;
    border-radius: 10px 0 0 10px;
    outline: none;
    padding: 10px;
    display: inline-block;
    width: 80px;
    height: 19px;
    text-align: left;
    margin-left: 90px; 
    margin-bottom: 5px;
    margin-top: -20px;
    pointer-events: none; /* 박스 클릭 불가능하게 설정 */
  }
  
 /* 입력 상자 컨테이너 스타일 */

  .input-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* 입력 행 스타일 */
  .input-row {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
  }
  
  /* 일반 입력 필드 스타일 */
  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    resize: vertical;
    word-break: break-all;
    white-space: pre;
    vertical-align : top;
    word-wrap: break-word; /* 긴 단어를 줄바꿈하도록 설정 */
    white-space: pre-line; /* 공백과 줄바꿈 유지 */
  }

  /* 제목 입력 필드 스타일 */
  .input-field#title {
    padding: 12px;
    border: 0px #ccc;
    width: 720px;
    height: 19px;
    outline: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
    border-radius: 0 10px 10px 0;
    resize: vertical;
    font-size: 16px;
  }
    
  /* 민원 입력 필드 스타일 */
  .input-field#complaint {
    display: flex;
    padding: 12px;
    border: 0px #ccc;
    width: 720px;
    height: 150px;
    outline: none;
    display: block;
    text-align: left;
    border-radius: 0 10px 10px 0;
    resize: vertical;
    font-size: 16px; /* 텍스트 글꼴 크기 설정 */
    margin-top: 0px; /* 상단 여백 설정 */
    margin-bottom: 20px;
    vertical-align : text-top;/* 텍스트를 상단에 맞춥니다 */
    line-height: 1.5; /* 줄 간격을 조절할 수 있습니다 */
    white-space: pre;
    word-wrap: break-word; /* 긴 단어를 줄바꿈하도록 설정 */
    white-space: pre-line; /* 공백과 줄바꿈 유지 */
  }
  

  /* 결과 입력 필드 스타일 */
  .input-field#result {
    padding: 12px;
    border: 0px #ccc;
    width: 720px;
    outline: none;
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 0 10px 10px 0;
    resize: vertical;
  }
  
  /* 결과 입력 필드 스타일 */ 
  .input-field#result {
    padding: 12px;
    border: 0px #ccc;
    width: 720px;
    height: 19px;
    outline: none;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: left;
    border-radius: 0 10px 10px 0;
    resize: vertical;
    font-size: 16px;
  }
  
  /* 로고 스타일 */
  .logo {
    margin-left: auto;
  }
  

  /* 로고 위에 마우스를 올렸을 때읭 툴팁 스타일 */
  /* Tooltip styles */
  .logo:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
  }
  

  /* 툴팁 기본 스타일 */
  .tooltip {
    position: absolute;
    background-color: #F8FAFC;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    width: 300px;
    top: 28px;
    left: 70px;
    text-align: left;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  
/* 드롭 다운 스타일 */

  .dropdown {
    padding: 12px;
    border: 0px #ccc;
    width: 120px; 
    height: 19px;
    outline: none;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 0 10px 10px 0;
    resize: vertical;
    font-size: 16px;
  }
  
  /*드롭 다운 상자 스타일 */
  .dropdown-box {
    background-color: white;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 120px; /* 드롭다운 박스와 감싸는 박스 크기를 맞춥니다 */
    display: inline-block;
    vertical-align: top;
  }
  
  /* 드롭 다운 상자 스타일 */
  /* 추가한 폰트 크기 스타일 */
  .dropdown-box select {
    font-size: 16px;
  }
  

  /* 네이게이션` 스타일 */
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    margin-left: 200px;
    display: flex;
    gap: 20px; /* 메뉴 아이템 간 간격 설정 */
    font-size: 20px;
  }
  
  .placeholder{
    background-color: #FFFFFF;
  }
  
  .about-us {
    position: relative;
  }
  
  .about-us:hover::after {
    content: "Min-1: Minimize time-consuming with 1-step process of civil complaints.민원 내용을 입력하면 자동으로 관련 부서를 제공하는 서울시 기초자치단체 민원 자동 분류기 입니다.";
    display: block;
    background-color: #777; /* 회색 배경색 */
    color: #FFFFFF; /* 검은색 글자색 */
    padding: 10px;
    width: 500px;
    font-weight: bold; /* 굵은 글꼴 */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }